@charset "UTF-8";
.catalog-search {
  background-color: #f8f8f8;
  padding-top: 18px;
  padding-bottom: 24px; }
  @media screen and (max-width: 767px) {
    .catalog-search {
      padding: 19px 0; } }
  .catalog-search__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: stretch;
            align-items: stretch; }
    @media screen and (max-width: 767px) {
      .catalog-search__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  .catalog-search__btn {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    @media screen and (max-width: 767px) {
      .catalog-search__btn {
        margin-bottom: 10px; } }
    .catalog-search__btn.active .catalog-search__icon {
      background-color: #a8c128;
      border: 2px solid transparent; }
      .catalog-search__btn.active .catalog-search__icon svg {
        fill: white; }
      .catalog-search__btn.active .catalog-search__icon + .catalog-search__checked {
        display: block; }
    .catalog-search__btn:hover .catalog-search__icon {
      background-color: #a8c128;
      border: 2px solid transparent; }
      .catalog-search__btn:hover .catalog-search__icon svg {
        fill: white; }
  .catalog-search__icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    margin-right: 9px;
    border: 2px solid #e2e3e6;
    border-radius: 50%;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .catalog-search__icon svg {
      width: 24px;
      height: 24px;
      margin: 7px;
      fill: black; }
  .catalog-search__checked {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #819327;
    border-radius: 50%;
    background-color: white;
    top: -6px;
    left: 26px; }
    .catalog-search__checked svg {
      width: 10px;
      height: 10px;
      margin: 6px;
      fill: #a8c128; }
  .catalog-search__text {
    font-size: 19px;
    font-family: "Garamond";
    color: #626262;
    white-space: nowrap;
    margin: 0; }
  .catalog-search__select {
    position: relative;
    width: 100%;
    margin-left: 38px; }
    @media screen and (max-width: 767px) {
      .catalog-search__select {
        margin-left: 0; } }
    .catalog-search__select select {
      display: none; }
    .catalog-search__select .select-selected {
      width: 100%;
      padding: 10px 24px;
      cursor: pointer;
      margin: 0;
      background-color: white;
      outline: none;
      border-radius: 30px;
      font-size: 19px;
      font-family: "Garamond";
      color: #626262;
      border: 1px solid #a9a9a9; }
      .catalog-search__select .select-selected:after {
        position: absolute;
        content: "";
        top: calc(50% - 3px);
        right: 18px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #ccc transparent transparent transparent; }
      .catalog-search__select .select-selected.select-arrow-active:after {
        border-color: transparent transparent #ccc transparent;
        top: calc(50% - 9px); }
    .catalog-search__select .select-items {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap;
      background-color: white;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
      margin-top: 2px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 3;
      border-radius: 5px;
      overflow: hidden; }
      @media screen and (max-width: 767px) {
        .catalog-search__select .select-items {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column; } }
      .catalog-search__select .select-items a {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-align: center;
                align-items: center;
        width: 50%;
        padding: 8px 16px;
        background-color: white;
        border-bottom: 1px solid #e2e3e6;
        font-size: 17px;
        line-height: 1;
        font-family: "Garamond";
        color: #626262;
        cursor: pointer;
        -webkit-transition: 0.1s;
        transition: 0.1s; }
        .catalog-search__select .select-items a:last-child {
          border-bottom: none; }
        .catalog-search__select .select-items a:nth-child(2n+1):nth-last-child(2) {
          border-bottom: none; }
        .catalog-search__select .select-items a:nth-child(2n+1) {
          border-right: 1px solid #e2e3e6; }
          @media screen and (max-width: 767px) {
            .catalog-search__select .select-items a:nth-child(2n+1) {
              border-right: none; } }
        .catalog-search__select .select-items a:hover {
          background-color: #a9c22b;
          color: white;
          box-shadow: inset 0 -2px 0 0 #73851b, inset 0 2px 0 0 #b5ca49; }
        @media screen and (max-width: 767px) {
          .catalog-search__select .select-items a {
            width: 100%; } }
    .catalog-search__select .select-hide {
      display: none; }

.catalog-body {
  padding: 47px 0 23px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 1268px) {
    .catalog-body {
      justify-content: space-around; } }
  .catalog-body-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start;
    position: relative;
    width: 267px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0px 9px 38px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 14px 30px 26px;
    margin: 0 0 27px; }
    @media screen and (max-width: 767px) {
      .catalog-body-card {
        width: 100%; } }
    @media screen and (min-width: 1269px) {
      .catalog-body-card:not(:nth-child(4n)) {
        margin-right: 27px; } }
    @media screen and (min-width: 975px) and (max-width: 1268px) {
      .catalog-body-card:not(:nth-child(3n)) {
        margin-right: 27px; } }
    @media screen and (min-width: 768px) and (max-width: 974px) {
      .catalog-body-card:not(:nth-child(2n)) {
        margin-right: 27px; } }
    .catalog-body-card__circle {
      width: calc(100% + 133px);
      height: 400px;
      position: absolute;
      top: -240px;
      left: -67px;
      border-radius: 50%;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#e1e1e2), to(#eeecec));
      background-image: linear-gradient(0deg, #e1e1e2 0%, #eeecec 100%);
      z-index: 1; }
    .catalog-body-card__img {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      z-index: 2;
      margin-bottom: 8px; }
      .catalog-body-card__img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -o-object-fit: contain;
           object-fit: contain;
        -webkit-filter: drop-shadow(4px 4px 18px rgba(0, 0, 0, 0.2));
                filter: drop-shadow(4px 4px 18px rgba(0, 0, 0, 0.2)); }
    .catalog-body-card__name {
      font-family: "Garamond";
      font-size: 24px;
      line-height: 1;
      color: #313131;
      margin-bottom: 14px; }
    .catalog-body-card-info-list {
      padding: 0;
      margin: 0 0 18px;
      list-style-type: none; }
      .catalog-body-card-info-list__item {
        font-family: "Garamond";
        font-size: 16px;
        line-height: 1;
        color: #313131; }
        .catalog-body-card-info-list__item:not(:last-child) {
          margin-bottom: 8px; }
        .catalog-body-card-info-list__item:before {
          content: "• "; }
    .catalog-body-card__btn {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      font-family: "Garamond";
      color: black;
      text-align: center;
      padding: 11px 22px;
      margin: auto 0 0 0;
      background-color: white;
      border: 0;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.21);
      text-transform: uppercase;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .catalog-body-card__btn:hover {
        background-color: #9ebb00;
        color: white;
        box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.21), inset 0 -2px 0 0 #708118; }

.catalog-pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: "TTNorms Regular";
  color: white; }
  @media screen and (max-width: 767px) {
    .catalog-pagination {
      display: none; } }
  .catalog-pagination__prev {
    position: relative;
    right: -16px;
    height: 32px;
    padding: 7px 28px 5px 31px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #a9c22b;
    color: white;
    box-shadow: inset 0 -1px 0 0 #708118;
    z-index: 2; }
    .catalog-pagination__prev:hover {
      color: white; }
    .catalog-pagination__prev svg {
      position: absolute;
      width: 8px;
      height: 12px;
      fill: white;
      top: 10px;
      left: 14px; }
  .catalog-pagination__next {
    position: relative;
    left: -16px;
    height: 32px;
    padding: 7px 31px 5px 28px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #a9c22b;
    color: white;
    box-shadow: inset 0 -1px 0 0 #708118;
    z-index: 2; }
    .catalog-pagination__next:hover {
      color: white; }
    .catalog-pagination__next svg {
      position: absolute;
      width: 8px;
      height: 12px;
      fill: white;
      top: 10px;
      right: 14px; }
  .catalog-pagination-box {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    height: 32px;
    padding: 0 20px;
    background-color: white;
    z-index: 3;
    border-radius: 16px; }
    .catalog-pagination-box__item {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      text-align: center;
      width: 30px;
      height: 30px;
      background-color: #a9c22b;
      border-radius: 50%;
      color: white;
      box-shadow: inset 0 -1px 0 0 #708118; }
      .catalog-pagination-box__item:not(:last-child) {
        margin-right: 5px; }
      .catalog-pagination-box__item.active {
        background-color: white;
        color: #404040;
        border: 1px solid #a9c22b; }
        .catalog-pagination-box__item.active:hover {
          color: #404040; }
      .catalog-pagination-box__item:hover {
        color: white; }

@media screen and (max-width: 479px) {
  .catalog .defaultcont {
    padding: 0 15px; } }

.sbmenu__subitem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  width: 1300px;
  left: -318px; }

.sbmenu__isubitem {
  padding: 23px 30px 3px;
  border: none; }
  .sbmenu__isubitem:first-child {
    padding: 23px 30px 3px; }

.sbmenu__item:hover .sbmenu__subitem {
  opacity: 1;
  height: auto; }

.sbmenu__sublink {
  padding: 5px 14px 7px;
  text-decoration: underline;
  border-radius: 14px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
  .sbmenu__sublink:hover {
    color: white !important;
    background-color: #9ebb00; }

.dealer-map-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 52px; }
  @media screen and (max-width: 1199px) {
    .dealer-map-title {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      padding-top: 27px; } }
  .dealer-map-title-switch {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center; }
    @media screen and (max-width: 1199px) {
      .dealer-map-title-switch {
        margin: 12px 0; } }
    .dealer-map-title-switch__input {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      margin: 0;
      cursor: pointer; }
      .dealer-map-title-switch__input input {
        opacity: 0;
        width: 0;
        height: 0; }
      .dealer-map-title-switch__input input + .dealer-map-title-switch__text {
        opacity: 1; }
        .dealer-map-title-switch__input input + .dealer-map-title-switch__text + .dealer-map-title-switch__slider:before {
          -webkit-transform: translateX(0px);
                  transform: translateX(0px); }
        .dealer-map-title-switch__input input + .dealer-map-title-switch__text + .dealer-map-title-switch__slider + .dealer-map-title-switch__text {
          opacity: 0.6; }
      .dealer-map-title-switch__input input:checked + .dealer-map-title-switch__text {
        opacity: 0.6; }
        .dealer-map-title-switch__input input:checked + .dealer-map-title-switch__text + .dealer-map-title-switch__slider:before {
          -webkit-transform: translateX(22px);
                  transform: translateX(22px); }
        .dealer-map-title-switch__input input:checked + .dealer-map-title-switch__text + .dealer-map-title-switch__slider + .dealer-map-title-switch__text {
          opacity: 1; }
    .dealer-map-title-switch__slider {
      position: relative;
      display: block;
      border: 1px solid #a9a9a9;
      border-radius: 14px;
      background-color: white;
      margin: 0 12px;
      width: 48px;
      height: 26px;
      -webkit-transition: .4s;
      transition: .4s; }
      .dealer-map-title-switch__slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 6px;
        bottom: 6px;
        background-color: black;
        border-radius: 50%;
        -webkit-transition: .4s;
        transition: .4s; }
    .dealer-map-title-switch__text {
      font-family: "Garamond Regular";
      font-size: 18px;
      line-height: 26px;
      color: #313131;
      opacity: 0.6;
      -webkit-transition: opacity .4s;
      transition: opacity .4s; }

.dealer-map-text {
  font-family: "Garamond Regular";
  font-size: 20px;
  color: #313131;
  margin-bottom: 22px; }
  @media screen and (max-width: 1199px) {
    .dealer-map-text {
      font-size: 18px;
      margin-bottom: 20px; } }

.dealer-map-search {
  background-color: #f8f8f8;
  padding-top: 18px;
  padding-bottom: 24px; }
  .dealer-map-search__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 919px) {
      .dealer-map-search__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  .dealer-map-search__btn {
    position: relative;
    min-width: 228px;
    height: 42px;
    font-size: 17px;
    line-height: 14px;
    font-family: "Garamond Regular";
    color: white;
    text-align: left;
    padding: 4px 22px 8px 50px;
    margin-right: 44px;
    background-color: #9ebb00;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.21);
    -webkit-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s; }
    @media screen and (max-width: 919px) {
      .dealer-map-search__btn {
        margin: 0 0 14px 0;
        width: 100%; } }
    .dealer-map-search__btn:hover {
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.21), inset 0 -2px 0 0 #708118;
      -webkit-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s; }
    .dealer-map-search__btn:after {
      content: url("../assets/img/target.png");
      position: absolute;
      left: 15px;
      top: 10px; }
  .dealer-map-search__input {
    margin: 0 44px 0 0;
    outline: none;
    padding: 10px 24px;
    width: 50%;
    border-radius: 20px;
    font-family: 'TTNorms Light';
    font-size: 15px;
    line-height: 20px;
    -webkit-appearance: none;
    border: 1px solid #a9a9a9;
    height: 42px; }
    @media screen and (max-width: 919px) {
      .dealer-map-search__input {
        margin: 0 0 14px 0;
        width: 100%; } }
  .dealer-map-search__select {
    width: 50%;
    margin: 0;
    cursor: pointer; }
    @media screen and (max-width: 919px) {
      .dealer-map-search__select {
        margin: 0;
        width: 100%; } }
    .dealer-map-search__select select {
      width: 100%;
      padding: 10px 24px;
      cursor: pointer;
      margin: 0;
      background-color: white; }

.dealer-map-yandex {
  width: 100%;
  height: 40vw;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 1199px) {
    .dealer-map-yandex {
      height: 680px;
      max-height: 75vh; } }

.dealer-map-list a {
  color: #2e699b;
  text-decoration: underline; }
  .dealer-map-list a:hover {
    color: #e93f70; }

.dealer-map-list p {
  margin: 0; }

.dealer-map-list__title {
  padding: 22px 0;
  font-family: "Garamond";
  font-size: 16px;
  color: #676767;
  border-bottom: 1px solid #e3e3e3; }

.dealer-map-list__body {
  margin-bottom: 70px; }

.dealer-map-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e3e3e3; }
  @media screen and (max-width: 1199px) {
    .dealer-map-list__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.dealer-map-list__column {
  width: 50%; }
  @media screen and (max-width: 1199px) {
    .dealer-map-list__column {
      width: 100%; } }

.dealer-map-list__name {
  font-family: "TTNorms Regular";
  font-size: 21px;
  line-height: 1;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 12px; }

@media screen and (max-width: 1199px) {
  .dealer-map-list__logo {
    margin-bottom: 18px; } }

.dealer-map-list__address {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  font-family: "Garamond";
  font-size: 18px;
  line-height: 31px;
  color: #626262; }
  @media screen and (max-width: 1199px) {
    .dealer-map-list__address {
      line-height: 1;
      margin-bottom: 12px; } }

.dealer-map-list__phone {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  font-family: "Garamond";
  font-size: 18px;
  line-height: 31px;
  color: #626262; }
  @media screen and (max-width: 1199px) {
    .dealer-map-list__phone {
      line-height: 1;
      margin-bottom: 12px; } }

.dealer-map-list__site {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  font-family: "Garamond";
  font-size: 18px;
  line-height: 31px;
  color: #626262;
  margin-bottom: 12px; }
  @media screen and (max-width: 1199px) {
    .dealer-map-list__site {
      line-height: 1;
      margin-bottom: 12px; } }

.dealer-map-list-tags {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }
  .dealer-map-list-tags__item {
    font-family: "Garamond";
    font-size: 15px;
    line-height: 1;
    color: #626262;
    padding: 8px 19px;
    border-radius: 14px;
    background-color: #f1f1f1;
    margin-right: 6px;
    margin-top: 6px; }
  .dealer-map-list-tags__img {
    margin-right: 6px; }

.dealer-map-list__icon {
  margin-right: 12px; }

@media screen and (max-width: 479px) {
  .dealer-map .defaultcont {
    padding: 0 15px; } }

.card-map {
  max-width: 430px;
  font-family: "Garamond";
  font-size: 16px;
  color: #626262;
  padding: 8px; }
  .card-map a {
    color: #626262; }
  .card-map-name {
    font-family: "TTNorms Regular";
    font-size: 18px;
    color: #323232;
    text-transform: uppercase;
    margin-bottom: 10px; }
