<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- favicons -->

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
	
	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="мать и дитя, ренессанс, витамины, материнство, беременность, комплекс витаминов" />
    <meta name="description" content="Мать и дитя - витаминно-минеральный комплекс для будущих мам" />

    <link href="styles_old/core.min.css" type="text/css" rel="stylesheet" />
    <link href="styles_old/page.css" type="text/css"  rel="stylesheet" />
    <link href="styles_old/template.css" type="text/css"  data-template-style="true" rel="stylesheet" />

    <link href="styles/index.css" type="text/css"  rel="stylesheet" />

    <script type="text/javascript" src="scripts_old/core.min.js"></script>
    
    <script type="text/javascript"  src="scripts_old/template.js"></script>
    <script type="text/javascript"  src="scripts_old/page.js"></script>
    
    <title>Витамины, минералы и антиоксиданты для всех</title>

</head>