<article class="dealer-map">
    <div class="defaultcont">
        <div class="dealer-map-title">
            <h2 class="btitle">
                Карта дилеров
            </h2>
            <div class="dealer-map-title-switch">
                <label class="dealer-map-title-switch__input" for="map-switch">
                    <input id="map-switch" class="js-map-switch" type="checkbox">
                    <span class="dealer-map-title-switch__text">Карта</span>
                    <span class="dealer-map-title-switch__slider"></span>
                    <span class="dealer-map-title-switch__text">Список</span>
                </label>
                
            </div>
        </div>
        <div class="dealer-map-text">
            Если вы хотите получить полный список дилеров, то оставьте все поля незаполненными.
        </div>
    </div>
    <div class="dealer-map-search">
        <div class="defaultcont">
            <form action="#" class="dealer-map-search__form">
                <button class="dealer-map-search__btn">Показать ближайшего партнера</button>
                <input type="text" id="search" name="search" class="dealer-map-search__input" placeholder="Поиск по названию" autocomplete="off">
                <div class="select-triangle dealer-map-search__select">
                    <select class="js-select">
                        <option value="">Выберите город</option>
                        <option value="1">Москва</option>
                        <option value="2">Санкт-Петербург</option>
                        <option value="3">Уфа</option>
                        <option value="4">Ярославль</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div id="map" class="dealer-map-google js-map">
        GOOGLE MAP
    
    </div>
    <div class="dealer-map-list">
        <div class="defaultcont">
            <div class="dealer-map-list__title">
                По вашему запросу найдено 5 дилеров
            </div>
            <div class="dealer-map-list__body">
                <div class="dealer-map-list__item">
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__name">
                            Аптека «Горздрав» №1392
                        </div>
                        <div class="dealer-map-list__logo">
                            <img src="assets/img/logo-1.png" alt="logo">
                        </div>
                    </div>
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__address">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/marker-gray.png" alt="marker">
                            </div>
                            <p>163063, Россия, Коломна, Октябрьской революции, 336 А</p>
                        </div>
                        <div class="dealer-map-list__phone">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/phone.png" alt="phone">
                            </div>
                            <p>Тел.: <a href="tel:+74996536277">+7 (499) 653-62-77</a></p>
                        </div>
                        <div class="dealer-map-list__site">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/at.png" alt="at">
                            </div>
                            <a href="http://www.gorzdrav.org">www.gorzdrav.org</a>
                        </div>
                        <div class="dealer-map-list-tags">
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Коломна
                            </div>
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Московская область
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dealer-map-list__item">
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__name">
                            Фармация
                        </div>
                        <div class="dealer-map-list__logo">
                            <img src="assets/img/logo-2.png" alt="logo">
                        </div>
                    </div>
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__address">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/marker-gray.png" alt="marker">
                            </div>
                            <p>163063, г. Москва, пр-т Маршала Жукова, д. 43, корп. 3</p>
                        </div>
                        <div class="dealer-map-list__phone">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/phone.png" alt="phone">
                            </div>
                            <p>Тел.: <a href="tel:+79262033131">+7 (926) 203-31-31</a></p>
                        </div>
                        <div class="dealer-map-list__site">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/at.png" alt="at">
                            </div>
                            <a href="http://www.stolichki.ru">www.stolichki.ru</a>
                        </div>
                        <div class="dealer-map-list-tags">
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Коломна
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dealer-map-list__item">
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__name">
                            EApteka.ru
                        </div>
                        <div class="dealer-map-list__logo">
                            <img src="assets/img/logo-3.png" alt="logo">
                        </div>
                    </div>
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__address">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/marker-gray.png" alt="marker">
                            </div>
                            <p>163063, Россия, Коломна, Октябрьской революции, 336 А</p>
                        </div>
                        <div class="dealer-map-list__phone">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/phone.png" alt="phone">
                            </div>
                            <p>Тел.: <a href="tel:+74996536277">+7 (499) 653-62-77</a></p>
                        </div>
                        <div class="dealer-map-list__site">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/at.png" alt="at">
                            </div>
                            <a href="http://www.gorzdrav.org">www.gorzdrav.org</a>
                        </div>
                        <div class="dealer-map-list-tags">
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Коломна
                            </div>
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Московская область
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dealer-map-list__item">
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__name">
                            Аптека «Горздрав» №1392
                        </div>
                        <div class="dealer-map-list__logo">
                            <img src="assets/img/logo-4.png" alt="logo">
                        </div>
                    </div>
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__address">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/marker-gray.png" alt="marker">
                            </div>
                            <p>163063, Россия, Коломна, Октябрьской революции, 336 А</p>
                        </div>
                        <div class="dealer-map-list__phone">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/phone.png" alt="phone">
                            </div>
                            <p>Тел.: <a href="tel:+74996536277">+7 (499) 653-62-77</a></p>
                        </div>
                        <div class="dealer-map-list__site">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/at.png" alt="at">
                            </div>
                            <a href="http://www.gorzdrav.org">www.gorzdrav.org</a>
                        </div>
                        <div class="dealer-map-list-tags">
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Коломна
                            </div>
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Московская область
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dealer-map-list__item">
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__name">
                            Столички.ру
                        </div>
                        <div class="dealer-map-list__logo">
                            <img src="assets/img/logo-5.png" alt="logo">
                        </div>
                    </div>
                    <div class="dealer-map-list__column">
                        <div class="dealer-map-list__address">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/marker-gray.png" alt="marker">
                            </div>
                            <p>163063, Россия, Коломна, Октябрьской революции, 336 А</p>
                        </div>
                        <div class="dealer-map-list__phone">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/phone.png" alt="phone">
                            </div>
                            <p>Тел.: <a href="tel:+74996536277">+7 (499) 653-62-77</a></p>
                        </div>
                        <div class="dealer-map-list__site">
                            <div class="dealer-map-list__icon">
                                <img src="assets/img/at.png" alt="at">
                            </div>
                            <a href="http://www.gorzdrav.org">www.gorzdrav.org</a>
                        </div>
                        <div class="dealer-map-list-tags">
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Коломна
                            </div>
                            <div class="dealer-map-list-tags__item">
                                <img class="dealer-map-list-tags__img" src="assets/img/tag.png" alt="at">
                                Московская область
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<script src="https://maps.google.com/maps/api/js?language=ru" charset="utf-8"></script>
<script type="text/javascript" src="scripts/vendor/markerclusterer.js"></script>
<script type="text/javascript" src="scripts/bundle.js">

</script>